{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 110,
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "singleQuote": true,
  "semi": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<SEPERATOR>",
    "^vscode",
    "^@gitlab/needle$",
    "<SEPERATOR>",
    "<THIRD_PARTY_MODULES>",
    "<SEPERATOR>",
    "^@regex-radar/",
    "<SEPERATOR>",
    "^[.]{2}/",
    "<SEPERATOR>",
    "^[.]/"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": false,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators"
  ]
}